<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Banks{% endblock %}</title>
{% block css %}
{% endblock %}
</head>
<body>
{% block nav %}
    <a href="index.php">Home</a>
    <a href="process.php">Process</a>
    <a href="about.php">About</a>
{% endblock %}

{% block body %}
{% endblock %}
</body>
</html>
